* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html::-webkit-scrollbar {
    display: none;
}