<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
   <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.proxy" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\line-reports\proxy" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\line-reports\main.log" />
    <add accessType="Allow" users="*" />
  </appSettings>
</configuration>