.flex-invoice {
    padding: 40px;
    margin: 0px 0px 0px 200px;
    display: flex;
}

.flex-invoice li {
    list-style: none;
    font-weight: bold;
    width: 25%;
}

.flex-invoice li:first-of-type {
    width: 15%;
}

.customer-info {
    padding: 50px;
}

.location-time {
    padding: 50px;
}

.customer-header {
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold; 
}

.location-header {
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}