/* wrapper */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

.brand {
    height: 60px;
    width: 180px;
    margin: 12px 0px 0px -20px;
    background-image: url('./images/sl.png');
    background-repeat: no-repeat;
}


.footer {
    padding: 40px;
    position: absolute;
    left: 60px;
    bottom: -30px;
    font-size: 1.2em;
}

/* bar */
.sidebar-header {
    padding: 50px;
}

.sidebar-header h4 {
    padding-top: 30px;
}

.sidebar {
    min-width: 250px;
    background: #003E3C;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: 2px 2px 10px black;
}

.sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #424242;
}

.sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #fff;
    background: grey;
    box-shadow: 0px 2px 2px black;
}


.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: grey;
}

a[data-toggle="collapse"] {
    position: relative;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* navigation */
.sidenav {
    display: flex;
    padding: 15px 10px;
    background: #003E3C !important;
    color: white;
    border-radius: 0;
    margin: -20px auto 40px auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.sidenav-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.sidenav h4 {
    margin: -30px;
}


/* content */
.content {
    width: 100%;
    padding: 20px;
    height: 100vh;
    transition: all 0.3s;
}

.content > h4 {
    margin: -20px 0px 20px 0px;
    color: white;
}


#barCollapse {
    width: 40px;
    height: 40px;
    background: #003E3C;
    cursor: pointer;
}

#barCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: white;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#barCollapse span:first-of-type, #barCollapse span:nth-of-type(2), #barCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#barCollapse.active span {
    margin: 0 auto;
}

#barCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#barCollapse.active span:nth-of-type(2) {
    opacity: 0;
}

#barCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    .sidebar.active {
        margin-left: 0;
        transform: none;
    }
}

/* taskbar styles */
.taskbar {
    display: flex;
}

.taskbar > li {
    margin: auto;
    list-style: none;
}