* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .Web, .Mobile {
    height: 100%;
    width: 100%;
}

.component {
    padding: 150px;
}

.taskbar {
    text-align: center;
    margin-top: 150px;
}

.links {
    display: flex;
}

.link {
    width: 100%;
    list-style: none;
}

.table {
    border: 1px solid black;
}


/* order table - sticky header - scroll on overflow of 700px */
.order-table {
    height: 800px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.order-table::-webkit-scrollbar {
    display: none;
}

.order-table th {
    top: 0;
    position: sticky;
    background-color: #38A745;
    color: white;
}

.table th, tr, td {
    border: 1px solid black;
}

.btn {
    margin: 5px;
}

.table tr:hover {
    background-color: #D1D1CF;
}

.thisOrder {
    padding: 20px;
    margin: 40px;
    border: 1px solid black;
    width: 100%;
    position: relative;
}

