* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .Web, .Mobile {
    height: 100%;
    width: 100%;
}

.component {
    padding: 150px;
}

.taskbar {
    text-align: center;
    margin-top: 150px;
}

.links {
    display: flex;
}

.link {
    width: 100%;
    list-style: none;
}

.table {
    border: 1px solid black;
}

.table th, tr, td {
    border: 1px solid black;
}

.btn {
    margin: 5px;
}

.table tr:hover {
    background-color: yellow;
}

.thisOrder {
    padding: 20px;
    margin: 40px;
    border: 1px solid black;
    width: 100%;
    position: relative;
}

