* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
}

.div {
    padding: 120px;
}

.taskbar {
    position: relative;
    width: 100%;
}

.switch-component {
    position: relative;
    margin-top: 80px;
}



